
.profile_circle {
  background: #e9e9e9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .profile_circle {
    background: #e9e9e9;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }}

.portfolio_btn.btn_yellow {
  margin-right: 26px;
box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
-webkit-box-shadow:0px 8px 20px 0px rgba(255, 196, 85, 0.3); 
-moz-box-shadow:0px 8px 20px 0px rgba(255, 196, 85, 0.3);
-o-box-shadow:0px 8px 20px 0px rgba(255, 196, 85, 0.3); 
-ms-box-shadow:0px 8px 20px 0px rgba(255, 196, 85, 0.3); 
color: #fff;
}
.portfolio_btn.btn_yellow:hover {
  box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
}


.portfolio_btn.btn_red {
  background-color: rgb(255, 81, 126);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
  -moz-box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
  -ms-box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
  -o-box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
  box-shadow: 0px 8px 20px 0px rgba(255, 81, 126, 0.3);
color: #fff;
}
.portfolio_btn.btn_red:hover {
  background: #fcc255;
-webkit-box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
-moz-box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
-ms-box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
-o-box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
box-shadow: 0px 8px 20px 0px rgba(255, 196, 85, 0.3);
}

/* start portfolio button */
.portfolio_btn {
  position: relative;
  display: inline-block;
  outline: none;
overflow: hidden;
min-width: 200px;
  height: 60px;
  background: rgb(22, 40, 206);
  border-radius: 30px;
  text-align: center;
  line-height: 64px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-size: 16px;
  color: #ffffff;
}
.portfolio_btn span {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;

}
.portfolio_btn span.second_text {
position: absolute;
  top: 100%;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;

}

.portfolio_btn:hover span.first_text{
-webkit-transform: translateY(-100%);
-moz-transform: translateY(-100%);
-ms-transform: translateY(-100%);
-o-transform: translateY(-100%);
transform: translateY(-100%);
}
.portfolio_btn:hover span.second_text {
  top: 0%;
}
.portfolio_btn:hover {
  background: #16d3e0;
color: #ffffff;
}
/* --- End button css  --- */



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #0563bb;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #0678e3;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #0563bb;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #0563bb;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0563bb;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0563bb;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #0563bb !important;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email, .contact .info .phone , .contact .info .address {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 40px 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #0563bb !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
@media screen and (max-width: 992px) {
.port_sidebar_profile {
  padding-bottom: 120px;
}
}

/*================== 06 start education section css ==================  */
.education_main_wrapper:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 2px;
  top: -10px;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0px auto;
  z-index: 0;
}
.education_main_wrapper .education_box {
  margin-bottom: 120px;
}
.education_main_wrapper .education_box:last-child {
  margin-bottom: 0;
}
.education .edu_mainyear  h1 {
  border: 10px solid;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  line-height: 105px;
  text-align: center;
  font-size: 24px;
  position: relative;
  color: #bfbfbf;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.education_firstbox .education_left {
  float: right;
  margin-right: 20px;
}
.education_firstbox .edu_mainyear h1:after {
  content: '';
  border-right: 15px solid transparent;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 15px solid #f6483a;
  position: absolute;
  right: -37px;
  top: 40px;
}
.education_mright {
  max-width: 410px;
  -webkit-transition: all 05s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.education_mright .education_rinfo {
  background: #ffffff;
  padding: 20px 40px 20px 40px;
  position: relative;
  z-index: 0;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
}
.education_right .prt_rightside_title {
  left: -10%;
  box-shadow:-10px 2px 9px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -10px 2px 9px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -10px 2px 9px 0px rgba(0, 0, 0, 0.09);
}
.prt_rightside_title {
  text-align: center;
  background: #fff;
  position: absolute;
  width: 75%;
  top: -18px;
}
.education_mright .left_title_box {
  display: flex;
  position: relative;
}
.prt_rightside_title .left_title {
  width: 25%;
}
.prt_rightside_title .right_title {
  width: 75%;
}
.prt_rightside_title .left_title h4 {
color: #010101;
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
  bottom: 10px;
}
.prt_rightside_title .right_title h4 {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  padding: 10px 0;
}
.education_firstbox .left_title_box:before {
  left: -20px;
  border-left: 10px solid #fff0;
  border-right: 10px solid #ffffff;
  border-top: 7px solid #ffbf0b00;
  border-bottom: 7px solid #f70d0d00;
}
.education_mright .left_title_box:before {
  content: "";
  position: absolute;
  border-left: 10px solid #fff0;
  border-right: 10px solid #ffffff;
  border-top: 7px solid #ffbf0b00;
  border-bottom: 7px solid #f70d0d00;
  top: 11px;
}
.education_mright.education_right  {
  margin-left: 38px;
  cursor: default;
}
h3.education_place {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  margin: 20px 0 10px 0;
  font-size: 24px;
font-family: 'Poppins', sans-serif;
  font-weight: 500;

}
.education_rinfo p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.edu_mainyear  h1:before {
  content: '';
  width: 20px;
  height: 20px;
  background: rgb(245, 245, 245);
  position: absolute;
  top: 42px;
  border-radius: 50%;
  border: 2px solid #f6483a;
  z-index: 99;
}
.education_firstbox .edu_mainyear h1:before {
  right: -55px;
}
.edu_mainyear:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 58px;
  border-radius: 50%;
  z-index: 99;
}
.education_firstbox .edu_mainyear:after {
  right: -4px;
}
.education_secondbox .education_left  {
  margin-left: 20px;
}
.education_secondbox .edu_mainyear h1:before {
  left: -55px;
}
.education_secondbox .edu_mainyear h1:after {
  content: '';
  border-right: 15px solid #f6483a;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 15px solid #f6483a00;
  position: absolute;
  left: -37px;
  top: 40px;
}
.education_secondbox .edu_mainyear:after {
  left: -4px;
}
.education_left  .prt_rightside_title {
  right: -10%;
  box-shadow: 10px 2px 9px 0px rgba(0, 0, 0, 0.09);
}
.education_secondbox .left_title_box:before {
  right: -20px;
  border-left: 11px solid #ffffff;
  border-right: 11px solid #ffffff00;
  border-top: 8px solid #ffbf0b00;
  border-bottom: 7px solid #f70d0d00;
}

.education_mright.education_left  {
  float: right;
  margin-right: 38px;
  cursor: default;
}
.edu_mainyear:hover h1 {
color:#010101;
}
.education_mright:hover {
  transform: translate(0px,-10px);
  -webkit-transform: translate(0px,-10px);
  -ms-transform: translate(0px,-10px);
  -moz-transform: translate(0px,-10px);
  -o-transform: translate(0px,-10px);
}
.education_box.firstbox h1 {
  border-color:#0d6efd;
color:#0d6efd;
}
.education_box.secondbox h1 {
  border-color:#0dcaf0;
color:#0dcaf0;
}
.education_box.firstbox .edu_mainyear h1:after {
  border-left-color:rgb(255, 81, 126);
}
.education_box.secondbox .edu_mainyear h1:after {
  border-right-color:rgb(255, 196, 84);
}
.education_box.firstbox .edu_mainyear  h1:before{ 
border-color:rgb(255, 81, 126);
}
.education_box.secondbox .edu_mainyear  h1:before{ 
 border-color:rgb(255, 196, 84);
}
.education_box.firstbox .edu_mainyear:after { 
background:rgb(255, 81, 126);
}
.education_box.secondbox .edu_mainyear:after { 
 background:rgb(255, 196, 84);
}


/*================== 06 End education section css ==================  */

@media (max-width:1199px) {
  .education_mright .education_rinfo {
    padding: 20px 20px 20px 20px;
}
.education_main_wrapper:after{
  display:none;
}
}

@media (min-width:992px) and (max-width:1199px) {
  .education_main_wrapper:after{
    display:none;
  }}

  @media (min-width:768px) {
    .edu_mainyear:after{
      display:none;
    }
    .edu_mainyear h1:before{
      display:none;
    }
    .education_firsrtbox .education_left {
        float: none;
        margin-bottom: 45px;
      margin-right: 0px;
    }
    .education_firsrtbox .edu_mainyear h1:after {
      content: '';
        border-right: 15px solid transparent;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 15px solid transparent;
        position: absolute;
        right: 37px;
        bottom: -34px;
        top: auto;
    }
    .education_box.firstbox .edu_mainyear h1:after {
        border-left-color: transparent;
        border-top-color: #ff517e;
    }
    .education_box.thirdbox .edu_mainyear h1:after {
        border-left-color: transparent;
        border-top-color: rgb(255, 117, 74);
    }
    .education_secondbox .education_left {
        margin-left: 0;
      float: right;
        margin-top: 20px;
    }
    .education_secondbox .edu_mainyear h1:after{
        content: '';
        border-right: 15px solid transparent;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 15px solid transparent;
        position: absolute;
        left: 38px;
        top: -34px;
    }
    .education_box.secondbox .edu_mainyear h1:after {
        border-right-color:transparent; 
        border-bottom-color: rgb(255, 196, 84);
    }
    .education_box.fourthbox .edu_mainyear h1:after {
        border-right-color: transparent;
        border-bottom-color: rgb(0, 200, 218);
    }
    .education_main_wrapper .education_box {
        margin-bottom: 80px;
    }}